* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
#aboveFold {
    width: 100%;
    height: 650px;
    overflow: hidden;

    background-image: url('../img/background_code.jpeg');
    background-repeat: repeat;
}
#ATFTint {
    z-index: 1;
    background: rgba(74, 189, 172, 0.7);    

    height: 100%;
    width: 100%;
}
#ATFTitle {
    width: 80%;
    top: 20%;
    font-family: 'Sigmar One', cursive;
    font-size: 80px;
}
#belowFold {
    width: 100%;
    height: 650px;
    background-color: #DFDCE3;
}