* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Mono', monospace;
}

#hero-img {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    height: 100%;
    width: 100%;

    color: #FFF;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: inherit;
    margin-top: 8px;
    font-size: 2em;
}
#list-btns {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#list-btns li {
    display: inline-block;
    padding: 4px;
    margin: 4px;
    border: 1px solid white;
    border-radius: 5px;
}
#list-btns a {
    color: inherit;
    text-decoration: none;
}
#list-btns li:hover {
    color: #BFBFBF;
    border-color: #BFBFBF;
}
#list-btns a:hover {
    color: #BFBFBF;
}
#social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.social-media-icon {
    padding: 8px;
    width: 32px;
    height: 32px;
}


/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    position: absolute;
    z-index: 1;

    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

small {
    left: 5px;
    bottom: 5px;
    position: absolute;
    color: #FFF;
    font-size: 0.7em;
}