* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}
html {
	width: 100vw;
	height: 100vh;
}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resources/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	text-align: center;
	color: white;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	margin-top: 8px;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
.maximise {
	width: 100%;
	height: 100%;
}
.page {
	width: 100%;
	margin: 0 auto;
}

.honeyPot,
.honeyPot * {
	display: none;
}

/* Center Panel */
.centerPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 10%;
}

/* Horizontal Button List */
.horizButtons {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.horizButtons li {
	display: inline-block;
	padding: 4px;
	margin: 4px;
	border: 1px solid white;
	border-radius: 5px;
}
.horizButtons a {
	color: inherit;
	text-decoration: none;
}

/* Columned Lists */
.listTable {
	width: 100%;
	height: 100%;
}
.listRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.listColumn {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	border-left: 3px solid white;
}
.listRow :first-child {
	border-left: none;
}

.heading {
	font-weight: bold;
	font-size: 1.25em;
	text-transform: uppercase;
}
.section {
	margin-bottom: 16px;
}
