:root {
	--clr-primary-1: #2d2d2d;
	--clr-primary-2: #d2d2d2;
}

* {
	margin: 0;
	padding: 0;
	color: var(--clr-primary-2);
}
body {
	background: linear-gradient(to right, var(--clr-primary-1) 50%, var(--clr-primary-2) 50%);
	min-height: 100vh;
	display: grid;
	place-items: center;
	color: white;
	font-family: sans-serif;
	text-align: center;
}
.centerWrapper {
	height: calc(100vh - 128px);
	width: calc(100vw - 128px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(to left, var(--clr-primary-1) 50%, var(--clr-primary-2) 50%);
	align-items: center;
	text-align: center;
}
.centerWrapper > .header > * {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
}
.centerWrapper > .header > *:nth-child(odd) {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
}
.centerWrapper > .header > .interactive:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
}
.centerWrapper > .header > .interactive:nth-child(odd):hover {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
}
.content {
	width: 100%;
	display: flex;
	padding: 5px;
}
.content > * {
	flex-basis: 100%;
	display: flex;
}
.rightButtons {
	display: flex;
	flex-flow: row;
}
.leftButtons {
	display: flex;
	flex-flow: row-reverse;
}
.leftButtons > * {
	width: clamp(32px, 75%, 128px);
	padding: 3px;
	margin: 5px;
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
	border: 3px solid var(--clr-primary-1);
}
.leftButtons > .interactive:hover {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
	border: 3px solid var(--clr-primary-1);
	cursor: grab;
}
.rightButtons > * {
	width: clamp(32px, 75%, 128px);
	margin: 5px;
	padding: 3px;

	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
	border: 3px solid var(--clr-primary-2);
}
.rightButtons > .interactive:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
	border: 3px solid var(--clr-primary-2);
	cursor: grab;
}
h1 {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
}
h2 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	transition: 1s;
}
.knightL {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 70px;
	margin-bottom: 90px;
	width: 128px;
}
.knightR {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 70px;
	margin-top: 90px;
	width: 128px;
}
@media screen and (max-width: 655px) {
	.content {
		width: 80%;
	}
}
@media screen and (max-width: 525px) {
	.leftButtons,
	.rightButtons {
		flex-direction: column;
	}
}
@media screen and (max-width: 400px) {
	.centerWrapper {
		height: calc(100vh - 64px);
		width: calc(100vw - 64px);
	}
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	.knightL {
		width: 64px;
		margin-left: 32px;
		margin-bottom: 40px;
	}
	.knightR {
		width: 64px;
		margin-right: 32px;
		margin-top: 40px;
	}
}
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
