:root {
	--clr-primary-1: #2d2d2d;
	--clr-primary-2: #d2d2d2;
}

* {
	margin: 0;
	padding: 0;
	color: var(--clr-primary-2);
	text-decoration: none;
}
body {
	background: linear-gradient(to right, var(--clr-primary-1) 50%, var(--clr-primary-2) 50%);
	min-height: 100vh;
	display: grid;
	place-items: center;
	color: white;
	font-family: sans-serif;
	text-align: center;
}
main {
	height: calc(100vh - 128px);
	width: calc(100vw - 128px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(to left, var(--clr-primary-1) 50%, var(--clr-primary-2) 50%);
	align-items: center;
	text-align: center;
}
main > header > * {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
}
main > header > *:nth-child(odd) {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
}
main > header > .interactive:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
}
main > header > .interactive:nth-child(odd):hover {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
}
section {
	width: 100%;
	display: flex;
	padding: 5px;
}
section > * {
	flex-basis: 100%;
	display: flex;
}
.staticLeft {
	display: flex;
	flex-flow: row-reverse;
	color: var(--clr-primary-1);
}
.staticLeft * {
	color: inherit;
	margin-right: 10px;
	margin-top: 10px;
	width: 50%;
}
.staticRight {
	display: flex;
	flex-flow: row;
	color: var(--clr-primary-2);
}
.staticRight * {
	color: inherit;
	margin-left: 10px;
	margin-top: 10px;
	width: 50%;
}
.right {
	display: flex;
	flex-flow: row;
}
.left {
	display: flex;
	flex-flow: row-reverse;
}
.left > * {
	width: clamp(32px, 75%, 128px);
	padding: 3px;
	margin: 5px;
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
	border: 3px solid var(--clr-primary-1);
}
.left > *:hover {
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
	border: 3px solid var(--clr-primary-1);
	cursor: grab;
}
.left *,
.right * {
	color: inherit;
}
.left .large,
.right .large {
	width: 75%;
}
.right > * {
	width: clamp(32px, 75%, 128px);
	margin: 5px;
	padding: 3px;
	background-color: var(--clr-primary-2);
	color: var(--clr-primary-1);
	border: 3px solid var(--clr-primary-2);
}
.overlayLeft {
	width: 100%;
	position: absolute;
	background-color: red;
	display: none;
}
.left:hover + .overlayLeft {
	display: inline-block;
}
.right > *:hover {
	background-color: var(--clr-primary-1);
	color: var(--clr-primary-2);
	border: 3px solid var(--clr-primary-2);
	cursor: grab;
}
h1 {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
}
h2 {
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	transition: 1s;
}
.knight {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 70px;
	margin-bottom: 90px;
	width: 128px;
}
.knightFlipped {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 70px;
	margin-top: 90px;
	width: 128px;
}
.rook {
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 80px;
	margin-bottom: 80px;
	width: 64px;
}
.rookFlipped {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 80px;
	margin-top: 80px;
	width: 64px;
}
.backButton {
	position: absolute;
	top: 0;
	left: 0;
	margin: 100px;
	color: var(--clr-primary-1);
	font-weight: 1000;
}

@media screen and (max-width: 655px) {
	section {
		width: 80%;
	}
}
@media screen and (max-width: 525px) {
	.left,
	.right {
		flex-direction: column;
	}
}
@media screen and (max-width: 400px) {
	main {
		height: calc(100vh - 64px);
		width: calc(100vw - 64px);
	}
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	.knight {
		width: 64px;
		margin-left: 32px;
		margin-bottom: 40px;
	}
	.knightFlipped {
		width: 64px;
		margin-right: 32px;
		margin-top: 40px;
	}
}
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
